*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

/* .header-section{
    background-image: url('image/banner.webp');
    background-position: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
} */

.header-section{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.imge-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1{
    font-size: 6rem;
    margin-bottom: 20px;
    color: #0814ef;
}
.hero-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: rgb(255, 0, 0);
}
.btn-custom{
    background-color: #F85606;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 50px;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.5s ease;
    color: #000;
    margin-left: 0;
}
.btn-custom:hover{
    background-color: green;
    color: white;
}
.feature-section{
    padding: 60px 0px;
}
.feature-section h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 1000;
    color: black;
    background-color: #d7a992;
    padding: 30px;
    border-radius: 15px;
}
.Feature-card{
    padding: 30px;
    background-color: beige;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 25px 20px 12px 8px;
    transition: transform 0.5s ease;
}
.Feature-card:hover{
    transform:translate(10px)
}
.Feature-card img{
    width: 250px ;
    /* height: 400px; */
    margin-bottom: 20px;
}

.Feature-card h5{
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 600;
}
.Customer-review{
    /* padding: 10px 0px; */
}
.Customer-review h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    background-color: #ab3900;
    padding: 30px;
    border-radius: 15px;
}
.Feature-review{
    padding: 30px;
    background-color: rgb(248, 151, 4);
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 25px 20px 12px 8px;
    transition: transform 0.10s ease;
}
.Feature-review:hover{
    transform:translate(10px)
}
.Feature-review img{
    width: 260px;
    margin: 20px;
}

.Feature-review h5{
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 600;
}
.Checkout-section{
    padding: 60px 0;
}
.Checkout-section h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 1000;
    color: black;
    background-color: rgb(119, 107, 2);
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.Checkout-form{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    padding: 30px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 40px 40px rgb(147, 133, 71, 0.99);
}

.Checkout-form .custom-input{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.footer{
    padding: 150px 0;
    background-color: #000;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    width: 250px;
    height: 60px;
}
.sosal-icons a{
    color: white;
}









/* new */

.custom {
    margin: 7px;
    margin-top: 10px !important;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5 ease;
    width: 270px !important;
}

.custom:hover{
    transform: translate(-10px);
}



/* card */
@media screen and (max-width: 1199px) {
    .custom{
        width: 220px !important;
    }
}
@media screen and (max-width: 991px) {
    .custom{
        width: 220px !important;
    }
}
@media screen and (max-width: 767px) {
    .custom{
        width: 250px !important;
    }
}
@media screen and (max-width: 525px) {
    .custom{
        width: 230px !important;
        margin-left: 20px;
    }
}
@media screen and (max-width: 513px) {
    .custom{
        width: 220px !important;
        margin-left: 20px;
    }
}
@media screen and (max-width: 494px) {
    .custom{
        width: 210px !important;
        margin-left: 20px;
    }
}
@media screen and (max-width: 473px) {
    .custom{
        width: 200px !important;
        margin-left: 20px;
    }
}
@media screen and (max-width: 453px) {
    .custom{
        width: 190px !important;
        margin-left: 20px;
    }
}
@media screen and (max-width: 433px) {
    .custom{
        width: 290px !important;
        margin-left: 50px;
    }
}
@media screen and (max-width: 373px) {
    .custom{
        width: 290px !important;
        margin-left: 30px;
    }
}
@media screen and (max-width: 335px) {
    .custom{
        width: 290px !important;
        margin-left: 20px;
    }
}
@media screen and (max-width: 325px) {
    .custom{
        width: 290px !important;
        margin-left: 20px;
    }
}